<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Dajango Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script> -->
</head>
<body>
	<div> <a href="/about">About </a> </div>

	<div><a href="/contact">Contact </a></div>

	<div class='container'>
		<h1>This is My First Django Project</h1>
	    {%block content%} {%endblock content%}
</div>
</body>
</html>
